<html>
    <head>
        <meta charset="utf-8"/>
        <style>


            .btn {
                display: inline-block;
                padding:5px 10px;
                margin:10px;
                border-radius:2px;
                border:1px solid black;
                text-decoration: none;
            }

            .btn.btn-default {
                background-color:#0088CC;
                color:white;
            }

            .btn-warning {
                background-color: #cc7105;
                color: #000000;
            }

            #megabtn {
                font-size: 25px;
                font-weight: bold;
            }


        </style>

    </head>
    <body style="text-align: center">
    <div style="display: inline-block; width: 1024px; text-align: left; background-color: #00ee00">
        {% block body %}

        {% endblock %}
    </div>
    </body>

</html>
