{% extends 'GalluetJeuxBundle::layout.html.twig' %}
{% block body %}

    <a href="{{ path('g_creer_jeu') }}"style="display: inline-block;padding-top:5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;margin:10px; border-radius:2px;background-color:#0088CC;color:white;border:1px solid black;text-decoration: none;"> Creer un jeu </a>
    <br/>
    <a href="{{ path('g_creer_editeur') }}"style="display: inline-block;padding-top:5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;margin:10px; border-radius:2px;background-color:#0088CC;color:white;border:1px solid black;text-decoration: none;"> Creer un editeur </a>
    <br/>
    <a href="{{ path('g_liste_jeu') }}"style="display: inline-block;padding-top:5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;margin:10px; border-radius:2px;background-color:#0088CC;color:white;border:1px solid black;text-decoration: none;"> Liste des jeux </a>
    <br/>
    <a href="{{ path('g_liste_editeur') }}"style="display: inline-block;padding-top:5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;margin:10px; border-radius:2px;background-color:#0088CC;color:white;border:1px solid black;text-decoration: none;"> Liste des editeur </a>

{% endblock %}