{% extends 'GalluetJeuxBundle::layout.html.twig' %}
{% block body %}

    <div style="width: 33%; height: 100px; background-color: #0000F0; display: inline-block; margin-right: -4px; font-family: Helvetica" >
        Test
    </div>
    <div style="width: 34%; height: 100px; background-color: #dd4444; display: inline-block; margin-right: -4px; font-family: Helvetica">
        Test
    </div>
    <div style="width: 33%; height: 100px; background-color: red; display: inline-block; margin-right: -4px; font-family: Helvetica">
        Test
    </div>
    <div style="width: 33%; height: 100px; background-color: mediumpurple; display: inline-block; margin-right: -4px; font-family: Helvetica">
        Test
    </div>
    <div style="width: 34%; height: 100px; background-color: #0000F0; display: inline-block; margin-right: -4px; font-family: Helvetica">
        Test
    </div>
    <div style="width: 33%; height: 100px; background-color: yellow; display: inline-block; margin-right: -4px; font-family: Helvetica">
        Test
    </div>

    <a href="{{ path('g_creer_jeu') }}" class="btn btn-default"> Creer un jeu </a>
    <br/>
    <a href="{{ path('g_creer_editeur') }}" class="btn btn-default"> Creer un editeur </a>
    <br/>
    <a href="{{ path('g_liste_jeu') }}" class="btn btn-warning"> Liste des jeux </a>
    <br/>
    <a href="{{ path('g_liste_editeur') }}" class="btn btn-block"> Liste des editeur </a>

{% endblock %}