{% extends 'GalluetJeuxBundle::layout.html.twig' %}
{% block body %}

    <table>
        {% for editeur in editeurs %}
        <tr>
            <td style="width: 50%;">
                {{ editeur.nom }}
            </td>
            {% for jeu in editeur.jeux %}
                <td style="width: 50%;">
                    {{ jeux.nom }}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <br/>
    <a href="{{ path('g_homepage') }}" style="display: inline-block;padding-top:5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;margin:10px; border-radius:2px;background-color:#0088CC;color:white;border:1px solid black;text-decoration: none;"> Index </a>

{% endblock %}